{% extends 'base.html.twig' %}

{% block content %}
    <!-- Home start -->
    <div class="home">
        <div class="wrapper">
            <div class="home__info">
                <h1 class="home__title">
                    Лабораторная работа №3 по дисциплине "Технологии разработки WEB-приложений"
                </h1>
            </div>
        </div>
    </div>
    <!-- Home end -->
{% endblock %}
