{% extends 'base.html.twig' %}

{% block title %}Создание нового тикета{% endblock %}

{% block content %}
    <!-- New topic form start -->
    <div class="topic-form-container">
        <div class="title text-center">Создание нового тикета</div>
        <div class="content">
            {{ include('topic/_form.html.twig') }}
        </div>
    </div>
    <!-- New topic form end -->
{% endblock %}
